<b><p style="font-size:300%;color:blue">Introducción a Python</p></b>

# Impresión:

In [2]:
print("Hola Mundo")

Hola Mundo

In [3]:
print("Hola","Mundo")

Hola Mundo

In [4]:
print(1+2)

3

# Operaciones básicas

In [5]:
x=1

In [6]:
y=2

In [7]:
z=x+y
print(z)

3

In [8]:
print(x-y)

-1

In [9]:
print(x*y)

2

In [10]:
print(x/y)

0.5

In [11]:
print(x**2,y**2)

1 4

# Listas

In [12]:
v=[10,43,623,12,46,12,4,5]

In [13]:
print(v)

[10, 43, 623, 12, 46, 12, 4, 5]

In [14]:
23 in v

False

In [15]:
print(v[4])

46

In [16]:
v[3]

12

In [17]:
v[0]=23
print(v[0])
print(v)

23
[23, 43, 623, 12, 46, 12, 4, 5]

In [18]:
print(len(v))
print(v[7])

8
5

In [19]:
print('la suma de los primeros dos valores es: ' , v[0]+v[1])

la suma de los primeros dos valores es:  66

In [20]:
print(max(v),min(v))

623 4

In [21]:
print(v)
v.append(43)
print(v)

[23, 43, 623, 12, 46, 12, 4, 5]
[23, 43, 623, 12, 46, 12, 4, 5, 43]

In [22]:
print(v)
v.append([1,2,3])
print(v)

[23, 43, 623, 12, 46, 12, 4, 5, 43]
[23, 43, 623, 12, 46, 12, 4, 5, 43, [1, 2, 3]]

In [23]:
print(v)
v.remove([1, 2, 3])
print(v)

[23, 43, 623, 12, 46, 12, 4, 5, 43, [1, 2, 3]]
[23, 43, 623, 12, 46, 12, 4, 5, 43]

In [24]:
print(v)
a=v.pop()
print(v)
print(a)

[23, 43, 623, 12, 46, 12, 4, 5, 43]
[23, 43, 623, 12, 46, 12, 4, 5]
43

In [25]:
print(v)
v.sort()
print(v)

[23, 43, 623, 12, 46, 12, 4, 5]
[4, 5, 12, 12, 23, 43, 46, 623]

# Tuples

In [26]:
t1=(1,2,3,4,5,6,7)

In [27]:
t1[4]

5

In [28]:
t1[0]=4

TypeError: 'tuple' object does not support item assignment

# Ciclo For

In [32]:
for i in v:
    print("Hola ciclo")
    print (i)
print("hola")

Hola ciclo
4
Hola ciclo
5
Hola ciclo
12
Hola ciclo
12
Hola ciclo
23
Hola ciclo
43
Hola ciclo
46
Hola ciclo
623
hola

In [51]:
print(list(range(2,20,2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [52]:
for i in range(10):
    print (i)
    print("hola")

0
hola
1
hola
2
hola
3
hola
4
hola
5
hola
6
hola
7
hola
8
hola
9
hola

In [53]:
print(v)
for i in v:
    print(i**2)

[4, 5, 12, 12, 23, 43, 46, 623]
16
25
144
144
529
1849
2116
388129

# Condicional:

In [ ]:
v2=list(range(10,20))
v3=list(range(15,25))

print(v2)
print(v3)

In [ ]:
print(len(v2))
print(len(v3))
if len(v2)==len(v3):
    print("Misma longitud")
elif len(v2)==len(v3)+1:
    print("la longitud del v2 es 1 unidad mayor")
else:
    print("Diferente longitud")

## Combinación entre for y condicional:

In [ ]:
if len(v2)==len(v3):
    for i in range(0,len(v2)):
        if v2[i] in v3:
            print (v2[i])
            print (v2[i]-1)
else:
    print("Diferente longitud")

# Nomenclatura comprimida del ciclo for con listas

In [ ]:
[i for i in v]

In [ ]:
[i**2 for i in v]

In [ ]:
[i for i in v if i>30]

# Aleatorios

In [ ]:
import random as rnd

In [ ]:
rnd.random()

In [ ]:
rnd.randint(0,20)

In [ ]:
[rnd.randint(500,900) for i in range(0,10)]

# Funciones

In [ ]:
def listaAleatorios(limiteInf,limiteSup,tamaño):
    return [rnd.randint(limiteInf,limiteSup) for i in range(0,tamaño)]

In [ ]:
listaPrueba=listaAleatorios(-50,-10,14)
print(listaPrueba)

In [ ]:
def promedio(lista):
    suma=0
    for elemento in lista:
        suma=suma+elemento
    prom=suma/len(lista)
    return prom

In [ ]:
print(promedio(listaAleatorios(-50,-10,14)))

# Ciclo While

In [ ]:
a=0
while a==0:
    aleatorio=rnd.randint(0,100)
    print(aleatorio)
    if aleatorio>90:
        a=1

In [ ]:
lista=[0 for i in range(0,10)]
while promedio(lista)<60:
    lista=listaAleatorios(0,100,10)
    print(lista,promedio(lista))

# Diccionarios

In [ ]:
dict1={'nombres':['Daniel','Alejandro','José','Jeremías'],
      'apellidos':['Saldarriaga','Serna','Isaza','Arbelaez']}

In [ ]:
dict1.keys()

In [ ]:
dict1.values()

In [ ]:
dict1['nombres']

In [ ]:
dict1['apellidos']

In [ ]:
dict1['edades']=[24,25,26,27]

In [ ]:
print(dict1)

In [ ]:
dict1['edades'][0]=15
dict1['edades']

In [ ]:
for item in dict1.items():
    print (item)

In [ ]:
for key in dict1.keys():
    print(key,dict1[key])